
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/eriki/eriki.css">
</head>

<body>
    <div class="login-container">
        <form action="/login" method="POST">
            <img src="/eriki/emblem.png" alt="Logo" class="logo">

            <h1>Ministry of Water</h1>
<h2>Inventory Management System</h2>

            <div class="form-row">
                <input type="email" id="emailInput" class="form-input" placeholder="example@email.com">
                <label for="emailInput" class="form-label">Email</label>
            </div>
            <div class="form-row">
                <input type="password" id="passwordInput" class="form-input" placeholder="pwd">
                <label for="passwordInput" class="form-label">Password</label>
            </div>

            <button type="submit" class="submit-btn">Login</button>
        </form>
        <p>Never share your password</p>
    </div>

</body>


</html>